/**
 * Demo Page Styles
 */

.ribbon {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #EB5F5A;
}

.ribbon a {
    display: block;
    padding: 10px 0;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.ribbon a:hover {
    background-color: #d7544f;
}

.description {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
}

.dist {
    display: block;
    width: 170px;
    margin: 20px auto;
    padding: 10px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background: #09AE9B;
    color: #fff;
}

.dist:hover {
    background: #099681;
}

.examplecode {
    margin: 0 auto 30px;
}

.examplecode:last-child {
    margin-bottom: 0;
}

code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}

.description {
    margin-bottom: 10px;
}
/**
 * Slider specific styles
 */

.slider {
    position: relative;
    width: 320px;
    margin: 0 auto 40px;
    -khtml-user-select: none;
    user-select: none;
}

.frame {
    position: relative;
    width: 270px;
    margin: 0 auto;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
}

.frame li {
    position: relative;
    display: inline-block;
    height: 130px;
    text-align: center;
    color: #fff;
}

.sli-sets {
    background: rgb(237, 237, 237);
    height: 100px;
    text-align: center;
    border-radius: 6px;
    padding-right: 40px;
    margin-top: 20px;
}

.slides {
    display: inline-block;
    height: 100px;
    background: rgb(237, 237, 237);
    padding: 15px;
    margin-left: -7px;
}

.simple li {
    width: 270px;
    margin-right: 10px;
}

.variablewidth li {
    width: 280px;
    margin-right: 10px;
}

.multipleelements li,
.multislides li,
.ease li {
    width: 60px;
    margin-right: 10px;
}

.simple li:last-child,
.variablewidth li:last-child,
.multipleelements li:last-child,
.multislides li:last-child,
.ease li:last-child {
    margin-right: 0;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    /* display: block; */
    cursor: pointer;
}

.next {
    right: -5px;
    z-index: 999;
}
.next1 {
    right: 0;
    z-index: 999;
}

.prev {
    left: -5px;
}
.prev1 {
    left: 0;
}

.next svg,
.prev svg {
    width: 25px;
}

@media screen and (min-width: 640px) {
    /**
     * Demo Page Styles
     */
    
    .examplecode,
    .frame {
        width: 580px;
    }
    table {
        width: 580px;
        margin: 0 auto;
    }
    tr {
        padding: 0;
    }
    /**
     * Slider specific styles
     */
    
    .slider {
        width: 640px;
        margin: 0 auto 20px;
    }
    .simple li {
        width: 580px;
    }
    .variablewidth li {
        width: 280px;
        margin-right: 10px;
    }
    .multipleelements li,
    .multislides li,
    .ease li {
        width: 130px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 980px) {
    /**
     * Demo Page Styles
     */
    
    .examplecode {
        width: 880px;
    }
    /**
     * Slider specific styles
     */
    
    .slider {
        width: 570px;
        margin: 0 auto 0px;
    }
    
    .slider1 {
        width: 90%;
        margin: 0 auto 0px;
    }
    
    .frame {
        width: 525px;
    }
    .frame1 {
        width: 100%;
    }
    .simple li {
        width: 880px;
    }
    .variablewidth li {
        width: 280px;
        margin-right: 10px;
    }
    .multipleelements li,
    .multislides li,
    .ease li {
        width: 205px;
        margin-right: 20px;
    }
}

.frames {
    width: 166px;
}

a.various4.popup3-fancybtn img {
    width: 100px;
}

.sliders {
    width: 194px;
    margin: 0 auto 0px;
}

.plays3 {
    position: absolute;
    top: 22px;
    left: 0px;
    width: 100%;
}

.plays3 img {
    height: 30px;
    width: 30px;
}

.feed-dets3 .rating3 {
    padding: 10px 4px;
    background: #ef4d64;
    font-size: 10px;
    margin: 0px;
    color: #fff;
    float: left;
}

.feed-dets3 h5 {
    font-size: 8px;
    color: #515151;
    text-transform: uppercase;
    float: left;
    line-height: 100%;
    font-family: lato;
    margin: 0px;
    padding: 3px 5px;
}
.feed-dets3 span {
  color: #ef4d64;
  font-size: 8px;
  text-transform: capitalize;
  float: left;
}
.name-set3 h5 {
    text-align: center;
    font-size: 15px;
    line-height: 100%;
    color: rgba(74, 78, 95, 0.74);
}

.name-set3 span {
    color: rgb(240, 81, 86);
    font-size: 11px;
}

.js_slide:hover .name-set3 {
    opacity: 1;
}

.name-set3 {
    background: rgba(255, 255, 255, 0.92);
    font-family: sans-serif;
    text-transform: capitalize;
    position: absolute;
    bottom: 0px;
    padding: 28px 10px 8px 10px;
    top: 0px;
    height: 110px;
    opacity: 0;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.video-feed3 {
    overflow: hidden;
    border-radius: 0px;
    background: #fff;
}

.map-feeds3 {
    float: left;
    padding-top: 9px;
}

.name-set4 {
  background: rgba(255, 255, 255, 0.92);
  font-family: sans-serif;
  text-transform: capitalize;
  position: absolute;
  bottom: 0px;
  padding:12px 7px;
  top: 0px;
  height:65px;
  opacity: 0;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
}
.name-set4 h5 {
  text-align: center;
  font-size: 8px;
  line-height: 100%;
  color: rgba(74, 78, 95, 0.74);
}
.name-set4 span {
  color: rgb(240, 81, 86);
  font-size: 5px;
}
.js_slide:hover .name-set4 {
    opacity: 1;
}
.plays4 {
  position: absolute;
  top: 18px;
  left: 0px;
  width: 100%;
}
.feed-dets4 .rating4 {
  padding: 6px 3px;
  background: #ef4d64;
  font-size: 6px;
  margin: 0px;
  color: #fff;
  float: left;
}
.feed-dets4 h5 {
  font-size: 5px;
  color: #515151;
  text-transform: uppercase;
  float: left;
  line-height: 100%;
  font-family: lato;
  margin: 0px;
  padding: 1px 5px;
}
.feed-dets4 span {
  color: #ef4d64;
  font-size: 4px;
  text-transform: capitalize;
  float: left;
}
.plays4 img {
    height: 20px;
    width: 20px;
}
.map-feedss {
  float: left;
  padding-top: 6px;
}
.map-feedss i {
  color: #7c7c7c;
  font-size: 6px;
  vertical-align: middle;
}
.map-feedss span {
  text-transform: capitalize;
  padding-left: 5px;
  font-size: 7px;
  font-family: lato;
  vertical-align: middle;
}
img.box {
  height: 60px;
  margin-top: 13px;
  width: 60px !important;
}


img.img-responsive.slide2img {
    height: 90px;
    width: 100%;
}

img.img-responsive.slide2img1 {
    height: 200px;
    width: 100%;
}
.fancybox-inner {
	overflow: hidden;
	height: auto !important;
}
